:root {
    --main-white: #ffffff;
    --main-lightwhite:#F5F6FA;
    --main-navyblue: #16226d;
    --main-blue: #5378F8;
    --main-lightblue: #64CAF6;
    --main-guvi: #0EBB4C;
  }

.register-container{
    max-height: 100%;
    min-height: 100vh;
    width: 100%;
    background: var(--main-blue);
   
    /* overflow-y: hidden; */
}

a{
    text-decoration: none;
    color: var(--main-guvi);
}

.card-container{
max-height: 90%;
min-height: 90vh;
background-color: var(--main-white);
margin: 0 auto;
border-radius: 20px;
z-index: 10;
width: 80%;
}

.card-container>.header-container {
margin-top: 40px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 0 20px;
}

.header-container > .logo-container {
display: flex;
flex-direction: row !important;
}

.header-container > .logo-container > .login-logo-container{
width: 60px;
height: 62px;

}

.header-container > .logo-container > .login-logo-container > img{
height: 100%;
width: 100%;
object-fit: cover;
}

.card-container>.header-container>.header {
color: var(--main-navyblue);
font-size: 24px;
font-weight: 700;
}

.card-container>.form {
width: 70%;
margin: 30px auto;
}

.card-container>.form>.form-group>input {
background-color: #EFEFEF;
height: 40px;
margin:4px 0;
}

.card-container>.form>.form-group>input::placeholder {
color: var(--main-navyblue) ;
/* padding: 10px; */
font-size: 18px;
}


.card-container>.form>.form-group>select {
background-color: #EFEFEF !important;
height: 38px;
/* margin: 10px 0 !important; */
font-size: 18px !important;
color: var(--main-navyblue) !important;
padding-left: 10px !important;

}
.card-container>.form>.form-group>select>options{
   color: var(--main-navyblue);
    /* padding: 10px !important; */
    font-size: 18px;
}

.card-container> .form >.d-grid>.btn{
margin: 20px 0;
background-color: var(--main-guvi);
color: var(--main-white);
}
form >.d-grid>.btn{
margin: 20px 0;
background-color: var(--main-guvi);
color: var(--main-white);
}

.register-container > .image-container{
position: fixed;
bottom:0;
right: 0;
z-index:20;
}

.register-back-btn{
position:absolute;
top: 10;
right: 10;
}

.link{
color:white !important;
}
